/* RESET */
body {
  margin: 0;
  font-size: 12pt;
}
img {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h1, h2 , h3, h4, h5, h6, p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
*::placeholder {
  color: inherit;
}
/* GENERAL */
:root {
  --container__width: 92%;
  --container__max-width: 960px;
  --theme-primary__color--1: #591c58;
  --theme-primary__color--2: #fcd207;
  --theme-primary__color--3: #fff9ea;
  --theme-primary__color--balck: #000;
  --theme-primary__color--white: #fff;
  --theme-primary__overlay--1__color: rgba(89, 28, 88, 0.2);
  /* --theme-primary__messages__color--1: #383d41;
  --theme-primary__messages__color--2: #e2e3e5;
  --theme-primary__messages__color--3: #d6d8db;
  --theme-primary__messages--success__color--1: #155724;
  --theme-primary__messages--success__color--2: #d4edda;
  --theme-primary__messages--success__color--3: #c3e6cb;
  --theme-primary__messages--info__color--1: #004085;
  --theme-primary__messages--info__color--2: #cce5ff;
  --theme-primary__messages--info__color--3: #b8daff;
  --theme-primary__messages--warning__color--1: #856404;
  --theme-primary__messages--warning__color--2: #fff3cd;
  --theme-primary__messages--warning__color--3: #ffeeba;
  --theme-primary__messages--danger__color--1: #721c24;
  --theme-primary__messages--danger__color--2: #f8d7da;
  --theme-primary__messages--danger__color--3: #f5c6cb; */
  --theme-primary__messages__color--1: #212121;
  --theme-primary__messages__color--2: #F5F5F5;
  --theme-primary__messages__color--3: #BDBDBD;
  --theme-primary__messages--success__color--1: #1B5E20;
  --theme-primary__messages--success__color--2: #C8E6C9;
  --theme-primary__messages--success__color--3: #66BB6A;
  --theme-primary__messages--info__color--1: #0D47A1;
  --theme-primary__messages--info__color--2: #BBDEFB;
  --theme-primary__messages--info__color--3: #42A5F5;
  --theme-primary__messages--warning__color--1: #F57F17;
  --theme-primary__messages--warning__color--2: #FFF9C4;
  --theme-primary__messages--warning__color--3: #FFEE58;
  --theme-primary__messages--danger__color--1: #B71C1C;
  --theme-primary__messages--danger__color--2: #FFCDD2;
  --theme-primary__messages--danger__color--3: #EF5350;
}
[lang="en"] body {
  font-family: 'Roboto', sans-serif;
}
[lang="ar"] body {
  font-family: 'Cairo', sans-serif;
}
[dir]:not([dir="ltr"]) .ltr-only {
  display: none;
}
[dir]:not([dir="rtl"]) .rtl-only {
  display: none;
}
/* SECTION */
.section {

}
.section.theme--solid {
  background-color: var(--theme-primary__color--white);
  color: var(--theme-primary__color--black);
}
.section.theme--dark {
  background-color: var(--theme-primary__color--1);
  color: var(--theme-primary__color--2);
}
.section.theme--light {
  background-color: var(--theme-primary__color--3);
  color: var(--theme-primary__color--1);
}
.section.theme--header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.section.theme--sys-messages {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 92%;
  max-width: 320px;
  max-height: 100%;
  overflow-y: auto;
}
[dir="ltr"] .section.theme--sys-messages {
  left: 0;
}
[dir="rtl"] .section.theme--sys-messages {
  right: 0;
}
.section.theme--slider {
  min-height: 100vh;
  display: grid;
  align-items: stretch;
  background-image: linear-gradient(#f5f7fa, #fff, #f5f7fa);
}
.section.theme--cover {
  min-height: 60vh;
  display: grid;
  align-items: stretch;
}
.section.theme--first-header {
  position: relative;
  margin-top: calc(-8px + (-1.4rem / 2));
}
.section.size--container {
  padding-right: calc((100% - var(--container__width)) / 2);
  padding-left: calc((100% - var(--container__width)) / 2);
}
@media (min-width: calc(960px * (1 + ((100 - 92) / 100)))) {
.section.size--container {
  padding-right: calc((100% - var(--container__max-width)) / 2);
  padding-left: calc((100% - var(--container__max-width)) / 2);
}
}
/* SYS MESSAGES */
.component.type--sys-messages {
}
  .component.type--sys-messages .messages {
    padding: 12px;
    display: grid;
    align-items: end;
    grid-row-gap: 8px;
  }
    .component.type--sys-messages .message {
      position: relative;
      box-sizing: border-box;
      border-width: 1px;
      border-style: solid;
      border-radius: 8px;
      width: 100%;
      padding: 8px 16px;
      line-height: 1.8em;
    }
    .component.type--sys-messages .message {
      color: var(--theme-primary__messages__color--1);
      background-color: var(--theme-primary__messages__color--2);
      border-color: var(--theme-primary__messages__color--3);
    }
    .component.type--sys-messages .message.success {
      color: var(--theme-primary__messages--success__color--1);
      background-color: var(--theme-primary__messages--success__color--2);
      border-color: var(--theme-primary__messages--success__color--3);
    }
    .component.type--sys-messages .message.info {
      color: var(--theme-primary__messages--info__color--1);
      background-color: var(--theme-primary__messages--info__color--2);
      border-color: var(--theme-primary__messages--info__color--3);
    }
    .component.type--sys-messages .message.warning {
      color: var(--theme-primary__messages--warning__color--1);
      background-color: var(--theme-primary__messages--warning__color--2);
      border-color: var(--theme-primary__messages--warning__color--3);
    }
    .component.type--sys-messages .message.danger {
      color: var(--theme-primary__messages--danger__color--1);
      background-color: var(--theme-primary__messages--danger__color--2);
      border-color: var(--theme-primary__messages--danger__color--3);
    }
      .component.type--sys-messages .message .close {
        cursor: pointer;
        position: absolute;
        top: 8px;
        line-height: 1;
      }
      [dir="ltr"] .component.type--sys-messages .message .close {
        right: 8px;
      }
      [dir="rtl"] .component.type--sys-messages .message .close {
        left: 8px;
      }
      .component.type--sys-messages .message .title {
        text-transform: capitalize;
        font-weight: bold;
      }
/* HEADER */
.component.type--header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  justify-content: space-between;
  justify-items: center;
  align-content: stretch;
  align-items: center;
  grid-gap: 12px;
  color: var(--theme-primary__color--1);
}
  .component.type--header .brand {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    justify-items: start;
    align-content: stretch;
    align-items: center;
    grid-gap: 12px;
  }
    .component.type--header .logo {
      max-width: 48px;
      min-height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
      border: 0 solid var(--theme-primary__color--1);
    }
    [dir="ltr"] .component.type--header .logo {
      padding-right: 12px;
      border-right-width: 2px;
    }
    [dir="rtl"] .component.type--header .logo {
      padding-left: 12px;
      border-left-width: 2px;
    }
    .component.type--header .slogan {
      display: grid;
      text-transform: capitalize;
    }
      .component.type--header .slogan .heading {
        font-size: 1.6rem;
      }
      .component.type--header .slogan .content {
        font-size: 0.8rem;
      }
  .component.type--header .user {
    display: grid;
    grid-gap: 16px;
    align-items: center;
  }
    .component.type--header .user .form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -8px;
    }
      .component.type--header .user .form > * {
        margin: 8px;
        padding: 8px 0;
        text-transform: capitalize;
        outline-color: var(--theme-primary__color--2);
      }
      .component.type--header .user .form input, .component.type--header .user .form a {
        padding: 8px;
        border-radius: 8px;
      }
      .component.type--header .user .form input {
        box-sizing: border-box;
        border-width: 0;
        color: var(--theme-primary__color--1);
      }
      .component.type--header .user .form input.error {
        border: 1px solid var(--theme-primary__messages--danger__color--1);
      }
      .component.type--header .user .form input[type="text"], .component.type--header .user .form input[type="password"] {
        background-image: radial-gradient(#f5f7fa 40%, #d6d7d8);
      }
      .component.type--header .user .form span {
        text-transform: uppercase;
        text-align: center;
      }
      .component.type--header .user .form input[type="submit"], .component.type--header .user .form a {
        background-color: var(--theme-primary__color--1);
        text-align: center;
        color: var(--theme-primary__color--white);
      }
      .component.type--header .user .form input[type="submit"] {
        cursor: pointer;
      }
      .component.type--header .user input[type="submit"]:hover, .component.type--header .user .form a:hover {
        color: var(--theme-primary__color--2);
      }
    .component.type--header .user .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: -4px;
    }
      .component.type--header .user .links > * {
        margin: 4px;
      }
      .component.type--header .user .link {
        display: block;
        border-radius: 8px;
        padding: 8px 16px;
        text-transform: uppercase;
        text-align: center;
      }
      .component.type--header .user .link.active, .component.type--header .user .link:hover {
        background-color: var(--theme-primary__color--1);
        color: var(--theme-primary__color--2);
      }
    .component.type--header .user .card {
      display: grid;
      grid-gap: 8px;
      justify-items: center;
    }
      .component.type--header .user .card .image {
        border: 2px solid var(--theme-primary__color--1);
        border-radius: 50%;
      }
        .component.type--header .user .card img {
          box-sizing: border-box;
          border: 1px solid var(--theme-primary__color--white);
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
      .component.type--header .user .card .name {
        text-align: center;
      }
@media (min-width: 960px) {
.component.type--header {
  grid-auto-flow: column;
}
  .component.type--header .header-switcher {
    display: none;
  }
  .component.type--header .user {
    grid-auto-flow: column;
  }
      .component.type--header .user .card .image {
        width: 32px;
        height: 32px;
      }
      .component.type--header .user .card .name {
        font-size: 0.8rem;
      }
}
@media (max-width: 959px) {
.component.type--header {
  grid-template-columns: max-content max-content;
}
  .component.type--header .brand {
    justify-self: start;
  }
  .component.type--header .header-switcher {
    cursor: pointer;
    justify-self: end;
    box-sizing: border-box;
    outline-width: 0;
    margin: 0;
    border-width: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    background-color: transparent;
    font-size: 32px;
    color: var(--theme-primary__color--1);
  }
  .component.type--header.status--active-user .user {
    grid-column-end: span 2;
    justify-self: stretch;
    grid-auto-flow: row;
    padding: 12px;
    background-color: var(--theme-primary__color--white);
  }
  .component.type--header:not(.status--active-user) .user {
    display: none;
  }
    .component.type--header.status--active-user .user .form {
      flex-direction: column;
    }
      .component.type--header .user .form input[type="text"], .component.type--header .user .form input[type="password"] {
        text-align: center;
        width: calc(100% - 16px);
      }
    .component.type--header .user .links {
      flex-direction: column;
    }
      .component.type--header .user .card .image {
        width: 64px;
        height: 64px;
      }
      .component.type--header .user .card .name {
        font-size: 1rem;
      }
}
/* MAIN SLIDER */
.component.type--main-slider {
  position: relative;
  color: var(--theme-primary__color--1);
}
  .component.type--main-slider .slides {
    box-sizing: border-box;
    position: relative;
    margin: 0 32px;
    height: 100%;
    overflow: hidden;
  }
    .component.type--main-slider .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateY(-100%);
    }
    .component.type--main-slider .slide.transition {
      transition: transform 1s linear;
    }
    [dir="ltr"] .component.type--main-slider .slide.start, [dir="rtl"] .component.type--main-slider .slide.end {
      transform: translateY(0);
      transform: translateX(100%);
    }
    [dir="rtl"] .component.type--main-slider .slide.start, [dir="ltr"] .component.type--main-slider .slide.end {
      transform: translateY(0);
      transform: translateX(-100%);
    }
    .component.type--main-slider .slide.active {
      transform: translateY(0);
      transform: translateX(0);
    }
      .component.type--main-slider .image {
        position: relative;
        height: 100%;
      }
        .component.type--main-slider .image img {
          position: absolute;
          top: 20%;
          right: 0;
          bottom: 20%;
          left: 0;
          width: 100%;
          height: 60%;
          object-fit: contain;
        }
      .component.type--main-slider .information {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: grid;
        grid-auto-flow: row;
        align-content: center;
        text-transform: capitalize;
        grid-row-gap: 12px;
      }
        .component.type--main-slider .title {
          font-size: 2rem;
          max-width: 320px;
        }
        .component.type--main-slider .description {
          max-width: 320px;
        }
        .component.type--main-slider .links {
          max-width: 480px;
          display: flex;
          flex-wrap: wrap;
          margin: -8px;
        }
          .component.type--main-slider .links > * {
            margin: 8px;
          }
          .component.type--main-slider .link {
            border-radius: 8px;
            padding: 6px 24px;
            background-color: var(--theme-primary__color--1);
            font-size: 0.8rem;
            color: var(--theme-primary__color--white);
          }
          .component.type--main-slider .link.active, .component.type--main-slider .link:hover {
            color: var(--theme-primary__color--2);
          }
  .component.type--main-slider .controllers {
  }
    .component.type--main-slider .navigator {
    }
      .component.type--main-slider .navigator .controller {
        cursor: pointer;
        position: absolute;
        top: calc(50% - 1rem);
        width: 32px;
        font-size: 2rem;
      }
      [dir="ltr"] .component.type--main-slider .navigator .controller.previous, [dir="rtl"] .component.type--main-slider .navigator .controller.next {
        left: 0;
        text-align: left;
      }
      [dir="rtl"] .component.type--main-slider .navigator .controller.previous, [dir="ltr"] .component.type--main-slider .navigator .controller.next {
        right: 0;
        text-align: right;
      }
@media (min-width: 480px) {
        [dir="ltr"] .component.type--main-slider .image img {
          object-position: 100% 50%;
        }
        [dir="rtl"] .component.type--main-slider .image img {
          object-position: 0% 50%;
        }
}
@media (max-width: 479px) {
        .component.type--main-slider .image img {
          object-position: 50% 50%;
          opacity: 0.2;
        }
      .component.type--main-slider .information {
        text-align: center;
        padding: 0 16px;
      }
        .component.type--main-slider .links {
          justify-content: center;
        }
}
/* COVER */
.component.type--cover {
  position: relative;
  color: var(--theme-primary__color--1);
}
  .component.type--cover .image {
    position: relative;
    height: 100%;
  }
    .component.type--cover .image img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  .component.type--cover .information {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding-top: 20vh;
    padding-right: calc((100% - var(--container__width)) / 2);
    padding-left: calc((100% - var(--container__width)) / 2);
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    text-transform: capitalize;
    grid-row-gap: 12px;
    background-color: var(--theme-primary__overlay--1__color);
  }
    .component.type--cover .title {
      font-size: 2rem;
    }
    .component.type--cover .description {
    }
@media (min-width: calc(960px * (1 + ((100 - 92) / 100)))) {
  .component.type--cover .information {
    padding-right: calc((100% - var(--container__max-width)) / 2);
    padding-left: calc((100% - var(--container__max-width)) / 2);
  }
}
/* ABOUT */
.component.type--about {
  padding-top: 32px;
  padding-bottom: 32px;
  display: grid;
  justify-content: space-between;
  grid-row-gap: 12px;
}
  .component.type--about .about__box {
    display: grid;
    grid-gap: 8px;
    grid-template-rows: max-content 1fr;
  }
    .component.type--about .about__box__title {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: bold;
    }
    .component.type--about .about__box__content {
      padding-top: 12px;
      padding-bottom: 12px;
    }
@media (min-width: 960px) {
.component.type--about {
  grid-template-columns: repeat(4, calc((100% - (32px * 3)) / 4));
}
}
@media (min-width: 640px) and (max-width: 959px) {
.component.type--about {
  grid-template-columns: repeat(2, calc((100% - (32px * 1)) / 2));
}
}
@media (max-width: 639px) {
.component.type--about {
  grid-template-columns: repeat(1, calc((100% - (32px * 0)) / 1));
}
}
/* DOCTORS */
.component.type--doctors {

}
  .component.type--doctors .doctors {
    display: grid;
    grid-template-columns: repeat(2, calc((100% - (12px * 1)) / 2));
    justify-content: space-between;
    grid-row-gap: 12px;
  }
    .component.type--doctors .doctor {
      padding: 12px;
      display: grid;
      grid-gap: 8px;
      justify-items: center;
      align-content: start;
      background-color: var(--theme-primary__color--white);
    }
      .component.type--doctors .doctor .image {
        position: relative;
        width: 100%;
        padding-top: 96px;
      }
        .component.type--doctors .doctor .image img {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: 50% 50%;
        }
      .component.type--doctors .doctor .name {
        text-align: center;
        text-transform: capitalize;
        font-size: 0.8rem;
      }
/* CONTACT US INFORMATION */
.component.type--contact-us-information {

}
  .component.type--contact-us-information ul {
    display: grid;
    grid-gap: 12px;
  }
    .component.type--contact-us-information li {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      align-items: center;
      grid-gap: 12px;
      font-weight: bold;
    }
      .component.type--contact-us-information li .icon {
        font-size: 1.4rem;
      }
/* MAP */
.component.type--map {
  box-sizing: border-box;
  border: 4px solid var(--theme-primary__color--1);
  border-radius: 8px;
  width: 100%;
  height: 40vh;
  display: grid;
}
/* CONTACT US FORM */
.component.type--contact-us-form {

}
  .component.type--contact-us-form form {
    display: grid;
    justify-content: stretch;
    justify-items: start;
    grid-gap: 12px;
  }
  .component.type--contact-us-form .form input, .component.type--contact-us-form .form textarea {
    box-sizing: border-box;
    margin: 0;
    outline-color: var(--theme-primary__color--2);
    border-width: 0;
    border-radius: 8px;
    padding: 8px;
    max-width: 100%;
    text-transform: capitalize;
    background-color: var(--theme-primary__color--1);
    color: var(--theme-primary__color--2);
  }
  .component.type--contact-us-form .form input[type="text"], .component.type--contact-us-form .form input[type="email"], .component.type--contact-us-form .form textarea {
    width: 100%;
  }
  .component.type--contact-us-form .form input[type="submit"] {
    cursor: pointer;
  }
/* FORM MESSAGES */
.component.type--form-messages {
}
  .component.type--form-messages .messages {
    display: grid;
    align-items: end;
  }
    .component.type--form-messages .message {
      position: relative;
      box-sizing: border-box;
      margin-bottom: 12px;
      border-width: 1px;
      border-style: solid;
      border-radius: 8px;
      width: 100%;
      padding: 8px 16px;
      line-height: 1.8em;
    }
    .component.type--form-messages .message {
      color: var(--theme-primary__messages__color--1);
      background-color: var(--theme-primary__messages__color--2);
      border-color: var(--theme-primary__messages__color--3);
    }
    .component.type--form-messages .message.success {
      color: var(--theme-primary__messages--success__color--1);
      background-color: var(--theme-primary__messages--success__color--2);
      border-color: var(--theme-primary__messages--success__color--3);
    }
    .component.type--form-messages .message.info {
      color: var(--theme-primary__messages--info__color--1);
      background-color: var(--theme-primary__messages--info__color--2);
      border-color: var(--theme-primary__messages--info__color--3);
    }
    .component.type--form-messages .message.warning {
      color: var(--theme-primary__messages--warning__color--1);
      background-color: var(--theme-primary__messages--warning__color--2);
      border-color: var(--theme-primary__messages--warning__color--3);
    }
    .component.type--form-messages .message.danger {
      color: var(--theme-primary__messages--danger__color--1);
      background-color: var(--theme-primary__messages--danger__color--2);
      border-color: var(--theme-primary__messages--danger__color--3);
    }
      .component.type--form-messages .message .close {
        cursor: pointer;
        position: absolute;
        top: 8px;
        line-height: 1;
      }
      [dir="ltr"] .component.type--form-messages .message .close {
        right: 8px;
      }
      [dir="rtl"] .component.type--form-messages .message .close {
        left: 8px;
      }
      .component.type--form-messages .message .title {
        text-transform: capitalize;
        font-weight: bold;
      }
/* FOOTER */
.component.type--footer {
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  justify-items: stretch;
  align-content: stretch;
  align-items: center;
  grid-gap: 12px;
}
  .component.type--footer > * {
    display: grid;
    grid-gap: 12px;
  }
@media (min-width: 640px) {
.component.type--footer {
  grid-auto-flow: column;
  justify-content: space-between;
}
}
@media (max-width: 639px) {
.component.type--footer {
  text-align: center;
}
}
/* SOCIAL LINKS */
.component.type--social-links {
  margin: -8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  .component.type--social-links li {
    margin: 8px;
  }
@media (max-width: 639px) {
.component.type--social-links {
  justify-content: center;
}
}
/* APPS LINKS */
.component.type--apps-links {
  margin: -8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  .component.type--apps-links li {
    margin: 8px;
  }
    .component.type--apps-links li img {
      max-height: 48px;
    }
@media (max-width: 639px) {
.component.type--apps-links {
  justify-content: center;
}
}
/* SECTION */
.component.type--section {
  display: grid;
  justify-content: stretch;
  grid-gap: 16px;
}
  .component.type--section .section__title {
    position: relative;
    display: grid;
    justify-content: center;
    padding: 0 32px;
  }
  .component.type--section .section__title::before {
    content: '';
    position: absolute;
    top: calc(8px + (1.4rem / 2) - 2px);
    width: 100%;
    height: 4px;
    background-color: var(--theme-primary__color--1);
  }
    .component.type--section .section__title .content {
      position: relative;
      border-radius: 8px;
      padding: 8px 16px;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.4rem;
      background-color: var(--theme-primary__color--1);
      color: var(--theme-primary__color--2);
    }
  .component.type--section .section__content {
  }
/* SERVICES */
.component.type--services {

}
  .component.type--services .services {
    display: grid;
    grid-row-gap: 32px;
    padding: 32px 0;
  }
    .component.type--services .service {
      position: relative;
      padding-top: 66.66%;
    }
      .component.type--services .service .image {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
      }
      .component.type--services .service .image img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
      .component.type--services .service .information {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 12px;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
      }
        .component.type--services .service .name {
          text-transform: uppercase;
        }
@media (min-width: 960px) {
  .component.type--services .services {
    grid-template-columns: repeat(2, calc((100% - (32px * 1)) / 2));
    justify-content: space-between;
  }
}
/* SERVICE */
.component.type--service {
  padding: 64px 0;
}
  .component.type--service .image {
    position: relative;
  }
    .component.type--service .image img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  .component.type--service .information {
  }
    .component.type--service .information > *:not(:last-child) {
      margin-bottom: 24px;
    }
    .component.type--service .information .name {
      text-transform: uppercase;
      font-size: 2rem;
      color: var(--theme-primary__color--1);
    }
    .component.type--service .information .description {
    }
      .component.type--service .information .description > *:not(:last-child) {
        margin-bottom: 12px;
      }
@media (min-width: 640px) {
  .component.type--service::after {
    content: '';
    display: block;
    clear: both;
  }
  .component.type--service .image {
    width: 33.33%;
    padding-top: 33.33%;
  }
  [dir="ltr"] .component.type--service .image {
    float: right;
    margin-left: 24px;
  }
  [dir="rtl"] .component.type--service .image {
    float: left;
    margin-right: 24px;
  }
}
@media (max-width: 639px) {
  .component.type--service .image {
    margin: 0 auto 24px;
    width: 66.66%;
    padding-top: 66.66%;
  }
  .component.type--service .information {
    text-align: center;
  }
}
/* DOCTOR */
.component.type--doctor {
  padding: 64px 0;
  display: flex;
  align-items: center;
}
  .component.type--doctor .image {
    position: relative;
    box-shadow: 0 0 4px 0 var(--theme-primary__color--1);
    border-radius: 50%;
    padding: 2px;
    width: 128px;
    height: 128px;
    flex-shrink: 0;
  }
    .component.type--doctor .image img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      background-color: var(--theme-primary__color--white);
      object-fit: contain;
      object-position: 50% 50%;
    }
  .component.type--doctor .information {
    box-shadow: 0 0 4px 0 var(--theme-primary__color--1);
    box-sizing: border-box;
    border-radius: 16px;
    padding: 32px;
    width: 100%;
    min-height: 256px;
    display: grid;
    grid-gap: 8px;
  }
    .component.type--doctor .information .label {
      text-transform: uppercase;
      font-weight: bold;
      color: var(--theme-primary__color--1);
    }
    .component.type--doctor .information .name {
      text-transform: capitalize;
    }
@media (min-width: 640px) {
.component.type--doctor {
  flex-direction: row-reverse;
}
  [dir="ltr"] .component.type--doctor .information {
    margin-right: -66px;
    padding-right: 98px;
  }
  [dir="rtl"] .component.type--doctor .information {
    margin-left: -66px;
    padding-left: 98px;
  }
    [dir="ltr"] .component.type--doctor .information > *:not(.label) {
      margin-left: 16px;
    }
    [dir="rtl"] .component.type--doctor .information > *:not(.label) {
      margin-right: 16px;
    }
}
@media (max-width: 639px) {
.component.type--doctor {
  flex-direction: column;
}
  .component.type--doctor .information {
    margin-top: -66px;
    padding-top: 98px;
  }
    .component.type--doctor .information .label {
      text-align: center;
    }
}
/* REGISTRATION FORM */
.component.type--registration-form {

}
  .component.type--registration-form .form {
    padding: 64px 0;
  }
    .component.type--registration-form .form .inputs {
      display: grid;
      grid-gap: 32px;
    }
      .component.type--registration-form .form .input {
        display: grid;
        justify-items: start;
        grid-gap: 8px;
      }
        .component.type--registration-form .form .input label {
          text-transform: uppercase;
        }
        .component.type--registration-form .form .input input {
          box-sizing: border-box;
          margin: 0;
          outline-color: var(--theme-primary__color--2);
          border: 1px solid var(--theme-primary__color--1);
          border-radius: 8px;
          padding: 8px;
          max-width: 100%;
          text-transform: capitalize;
          background-color: var(--theme-primary__color--white);
          color: var(--theme-primary__color--1);
        }
        .component.type--registration-form .form .input input[type="text"], .component.type--registration-form .form .input input[type="password"], .component.type--registration-form .form .input input[type="email"] {
          width: 100%;
        }
        .component.type--registration-form .form .input.error input[type="text"], .component.type--registration-form .form .input.error input[type="password"], .component.type--registration-form .form .input.error input[type="email"] {
          border-color: var(--theme-primary__messages--danger__color--1);
        }
        .component.type--registration-form .form .input input[type="submit"] {
          cursor: pointer;
        }
        .component.type--registration-form .form .input.type--image .image {
          cursor: pointer;
          box-shadow: 0 0 4px 0 var(--theme-primary__color--1);
          margin: 0 auto;
          border-radius: 50%;
          width: 128px;
          height: 128px;
        }
        .component.type--registration-form .form .input.type--image.error .image {
          box-shadow: 0 0 4px 0 var(--theme-primary__messages--danger__color--1);
        }
        .component.type--registration-form .form .input.type--image.warning .image {
          box-shadow: 0 0 4px 0 var(--theme-primary__messages--warning__color--1);
        }
          .component.type--registration-form .form .input.type--image .image img {
            box-sizing: border-box;
            border-radius: 50%;
            padding: 2px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
          }
        .component.type--registration-form .form .input.type--image input[type="file"] {
          display: none;
        }
@media (min-width: 640px) {
    .component.type--registration-form .form .inputs {
      grid-template-columns: repeat(4, calc((100% - (32px * 3)) / 4));
    }
      .component.type--registration-form .form .input {
        grid-column-end: span 2;
      }
      .component.type--registration-form .form .input.style--center {
        grid-column-start: 2;
      }
      .component.type--registration-form .form .input.style--full {
        grid-column-end: span 4;
      }
}
@media (max-width: 639px) {

}
/* REGISTRATION FORM MESSAGES */
.component.type--registration-form-messages {
}
  .component.type--registration-form-messages .messages {
    PADDING: 12PX 0;
    display: grid;
    align-items: end;
  }
    .component.type--registration-form-messages .message {
      position: relative;
      box-sizing: border-box;
      margin-bottom: 12px;
      border-width: 1px;
      border-style: solid;
      border-radius: 8px;
      width: 100%;
      padding: 8px 16px;
      line-height: 1.8em;
    }
    .component.type--registration-form-messages .message {
      color: var(--theme-primary__messages__color--1);
      background-color: var(--theme-primary__messages__color--2);
      border-color: var(--theme-primary__messages__color--3);
    }
    .component.type--registration-form-messages .message.success {
      color: var(--theme-primary__messages--success__color--1);
      background-color: var(--theme-primary__messages--success__color--2);
      border-color: var(--theme-primary__messages--success__color--3);
    }
    .component.type--registration-form-messages .message.info {
      color: var(--theme-primary__messages--info__color--1);
      background-color: var(--theme-primary__messages--info__color--2);
      border-color: var(--theme-primary__messages--info__color--3);
    }
    .component.type--registration-form-messages .message.warning {
      color: var(--theme-primary__messages--warning__color--1);
      background-color: var(--theme-primary__messages--warning__color--2);
      border-color: var(--theme-primary__messages--warning__color--3);
    }
    .component.type--registration-form-messages .message.danger {
      color: var(--theme-primary__messages--danger__color--1);
      background-color: var(--theme-primary__messages--danger__color--2);
      border-color: var(--theme-primary__messages--danger__color--3);
    }
      .component.type--registration-form-messages .message .close {
        cursor: pointer;
        position: absolute;
        top: 8px;
        line-height: 1;
      }
      [dir="ltr"] .component.type--registration-form-messages .message .close {
        right: 8px;
      }
      [dir="rtl"] .component.type--registration-form-messages .message .close {
        left: 8px;
      }
      .component.type--registration-form-messages .message .title {
        text-transform: capitalize;
        font-weight: bold;
      }